@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
root {
  --primaryColor:#2781ff;
  --primaryColorLight:#00aeef;
  --bgColor:hsl(0, 0%, 100%);
  --formColor:hsl(20, 42%, 87%);
  --whiteColor:hsl(0, 0%, 100%);
  --blackColor:hsl(0, 0%, 18%);
  --greyText:hsl(0, 0%, 51%);
  --inputColor:hsl(330, 12%, 97%);
  --cardColor:hsl(300, 3%, 94%);
  /*Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.mygrid{
  display: grid;  
  grid-template-columns: 1fr 1.2fr;
  gap: 10px;
  
}
.portfolio .secContainer .leftContent .mygrid .singlePortfolio .infor p{
  margin-bottom: 15px;
}
@media screen and (max-width: 786px) {
  .mygrid{
    display: inline;
    
  }
}

.portfolio .secContainer {
  gap: 2rem;
}
.portfolio .secContainer .leftContent .mygrid .singlePortfolio {
  gap: 1rem;
  align-items: flex-start;
}
.portfolio .secContainer .leftContent .mygrid .singlePortfolio .iconDiv img {
  height: 50px;
  width: 50px;
}
.portfolio .secContainer .leftContent .mygrid .singlePortfolio .infor h4 {
  padding-bottom: 0.5rem;
} 
@media screen and (min-width: 300px) {
.secHeading h3{
  margin-top: 25px;
}
}


@media screen and (min-width: 480px) {
  /* .portfolio .secContainer {
    mygrid-template-columns: repeat(1, 1fr);
  } */
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h2FontSize);
    padding: 0.5rem 0;
  }
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio .iconDiv img {
    height: 70px;
    width: 70px;
  }
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio .infor h4 {
    padding-bottom: 0.5rem;
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio .infor p {
    font-size: var(--h2FontSize);
  }
}
@media screen and (min-width: 640px) {
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h2FontSize);
  }
  /* .portfolio .secContainer .leftContent .mygrid {
    mygrid-template-columns: repeat(2, 1fr);
  } */
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .rightContent {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portfolio .secContainer .rightContent img {
    margin: auto;
    max-width: 70%;
  }
}
@media screen and (min-width: 820px) {
  /* .portfolio .secContainer {
    mygrid-template-columns: repeat(2, 1fr);
  } */
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: var(--h1FontSize);
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h2FontSize);
  }
  /* .portfolio .secContainer .leftContent .mygrid {
    mygrid-template-columns: repeat(1, 1fr);
  } */
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainer .rightContent img {
    max-width: 80%;
  }
}
@media screen and (min-width: 1240px) {
  .portfolio .secContainer {
    gap: 3rem;
  }
  .portfolio .secContainer .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainer .leftContent .secHeading p {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainer .leftContent .mygrid {
    gap: 2.5rem;
    margin-top: 3rem;
  }
  .portfolio .secContainer .leftContent .mygrid .singlePortfolio {
    gap: 2rem;
  }
  .portfolio .secContainer .rightContent img {
    max-width: 80%;
  }
}/*# sourceMappingURL=Portfolio.css.map */