@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');


//all project colors

root{
    --primaryColor:#2781ff;
    --primaryColorLight:#00aeef;
    --bgColor:hsl(0, 0%, 100%);
    --formColor:hsl(20, 42%, 87%);
    --whiteColor:hsl(0, 0%, 100%);
    --blackColor:hsl(0, 0%, 18%);
    --greyText:hsl(0, 0%, 51%);
    --inputColor:hsl(330, 12%, 97%);
    --cardColor:hsl(300, 3%, 94%);


    /*Font and Typography */

    --biggestFontSize: 2.5rem;
    --h1FontSize: 2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

.middle{
    width: 100%;

    .secContainer{
        .welCome{
            padding: 2rem;
            border-radius: var(--borderRadius);
            background: var(--primaryColorLight);
            justify-content: center;
            text-align: center;

            h2{
                font-size: var(--h1FontSize);
                font-weight: 600;
                color: var(--whiteColor);
                margin-bottom: 10px;
                text-decoration:underline;
            }

            span{
                justify-content: center;
                gap: .5rem;

                p{
                    font-size: var(--h3FontSize);
                    font-weight: 500;
                    color: var(--whiteColor);
                    text-align: center;
                    justify-content: center;
                }
            }


        }
    }
}


//media queries

@media screen and (min-width: 480px){
    .middle{
        .secContainer{
            .welCome{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (min-width: 640px){
    .middle{
        .secContainer{
            .welCome{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 800px){
    .middle{
        .secContainer{
            .welCome{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}